# Virtual environment (Should be installed separately)
p3_7env/

# Log files
.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython .c files
cython_*.c

# C extensions
*.so

# Compiled binaries
bin/*
*.bin

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# pyenv
.python-version

# CMake
cmake-build-*/

# JetBrains IDEs
.idea/

#camera calibration images
../src/buoy_detection/camera_capture/
# CMake
[C|c][M|m]ake*